
@{
    ViewBag.Title = "Seeker";
}
<body class="black-color">
    <div class="col-md-6">
        <center>
            <div id="contact-form">
                <div>
                    <h1>Search</h1>
                    <div>
                        <span class="required">Select Title</span>
                        <input type="text" name="submit" id="txt_title" />
                    </div>
                </div>
            </div>
        </center>
    </div>
    <div class="col-md-6 cuadro-detalle">
        <center>
            <div id="contact-form">
                <form method="post" action="/">
                    <div>
                        <label for="descripcion">
                            <span>Descripcion</span>
                            <textarea class="autoHeight" id="txt_Descripcion" name="Descripcion" readonly="readonly"></textarea>
                        </label>
                    </div>
                    <div>
                        <label for="detalle">
                            <span>Detalle</span>
                            <textarea class="autoHeight" id="txt_Detalle" name="Detalle" readonly="readonly"></textarea>
                        </label>
                    </div>
                    <div>
                        <label for="moneda">
                            <span>Moneda</span>
                            <input type="text" id="txt_Moneda" name="Moneda" readonly="readonly" />
                        </label>
                    </div>
                    <div>
                        <label for="simbolo">
                            <span>Simbolo</span>
                            <input type="text" id="txt_Simbolo" name="Simbolo" readonly="readonly" />
                        </label>
                    </div>
                    <div>
                        <label for="tipo">
                            <span>Tipo</span>
                            <input type="text" id="txt_Tipo" name="Tipo" readonly="readonly" />
                        </label>
                    </div>
                </form>
            </div>
        </center>
    </div>
</body>
<link href="~/Content/TemplateForm.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@section Scripts {
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/AutoComplete.js"></script>
}