
@{
    ViewBag.Title = "Seeker";
}
<body class="black-color">
    <div class="col-md-6">
        <center>
            <div id="contact-form">
                <div>
                    <h1>Search</h1>
                    <div>
                        <span class="required">Select Title</span>
                        <input name="submit" type="text" id="txt_title">
                    </div>
                </div>
            </div>
        </center>
    </div>
    <div class="col-md-6">
        <center>
            <div id="contact-form">
                <form method="post" action="/">
                    <div>
                        <label for="name">
                            <span class="required">Name</span>
                            <input type="text" id="txt_Name" name="Name" readonly="readonly" required="required" tabindex="1" autofocus="autofocus" />
                        </label>
                    </div>
                    <div>
                        <label for="symbol">
                            <span class="required">Symbol</span>
                            <input type="text" id="txt_Symbol" name="Symbol" readonly="readonly" required="required" tabindex="1" autofocus="autofocus" />
                        </label>
                    </div>
                    <div>
                        <label for="last">
                            <span class="required">Last</span>
                            <input type="text" id="txt_Last" name="Last" readonly="readonly" required="required" tabindex="1" autofocus="autofocus" />
                        </label>
                    </div>
                    <div>
                        <label for="var">
                            <span class="required">Var</span>
                            <input type="text" id="txt_Var" name="Var" readonly="readonly" required="required" tabindex="1" autofocus="autofocus" />
                        </label>
                    </div>
                    <div>
                        <label for="capMarket">
                            <span class="required">Cap.Market</span>
                            <input type="text" id="txt_CapMarket" name="CapMarket" readonly="readonly" required="required" tabindex="1" autofocus="autofocus" />
                        </label>
                    </div>
                    <div>
                        <label for="volume">
                            <span class="required">Volume</span>
                            <input type="text" id="txt_Volume" name="Volume" readonly="readonly" required="required" tabindex="1" autofocus="autofocus" />
                        </label>
                    </div>
                </form>
            </div>
        </center>
    </div>
</body>
<link href="~/Content/TemplateForm.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
@section Scripts {
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/AutoComplete.js"></script>
}